[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt6 = "*"
qasync = "*"
evdev = "*"
aiofiles = "*"
aiopath = "*"
flatbuffers = "*"
aioserial = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
launch = "python launch.py"
